<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vokadu on Rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="row">
      <div class="medium-2 columns">
        <nav class="top-bar docs-bar hide-for-small" data-topbar="">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/"><%= image_tag "logo.gif", size: "115x25" %></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
              <ul class="right">
                <li>
                  <a href="#" class="">Home</a>
                </li>
                <li>
                  <a href="/" class="">Global Dashboard</a>
                </li>
                <li class="has-dropdown not-click">
                  <a href="#" class="">Site Map</a>
                  <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li><a href="/dashboards/paxton-phoenix">Paxton-Phoenix</a></li>
                    <li><a href="/dashboards/rutland-dallas">Rutland-Dallas</a></li>
                    <li><a href="/dashboards/princeton-burlington">Princeton-Burlington</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="">Search</a>
                </li>
                <li>
                  <a href="#" class="">User Profile</a>
                </li>
            </ul>
            <div class="text-center" id="copyright">
              2016 © Vokadu Systems.
            </div>
            </section>
          </nav>
      </div>



      <div class="medium-10 columns">
        <div class="content">
          <%= yield %>
        </div>
      </div>

    </div>

  </body>
</html>
